DATA SETS

In [1]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.2f}'.format
archivo= r'C:\Users\nicol\OneDrive\Escritorio\ proyecto1\kb.ipynb'
amazon = pd.read_csv(r'C:\Users\nicol\OneDrive\Documentos\GitHub\Streaming_Wars\datos\amazon_prime_titles.csv')
nexflix = pd.read_csv(r'C:\Users\nicol\OneDrive\Documentos\GitHub\Streaming_Wars\datos\netflix_titles.csv')
hulu = pd.read_csv(r'C:\Users\nicol\OneDrive\Documentos\GitHub\Streaming_Wars\datos\hulu_titles.csv')
disney = pd.read_csv(r'C:\Users\nicol\OneDrive\Documentos\GitHub\Streaming_Wars\datos\disney_plus_titles.csv')
pd.set_option('display.max_columns', None)

EDA(Analizis Exploratorio de Datos)
---
AMAZON

In [357]:
#combertimos los datos en entero y string
amazon['show_id'] = amazon['show_id'].str.replace('s', '', regex=False)
amazon['show_id'] = amazon['show_id'].astype('int')

#dividir las series con los minutos de la columna duracion
amazon['duration_min'] = amazon['duration'].apply(lambda x : int(x.split()[0]) if 'min' in x else 0)
amazon['duration_seasons'] = amazon['duration'].apply(lambda x : int(x.split()[0]) if 'Seasons' in x else 0)



#cambiamos valores que significan lo mismo solo que escritos de otra manera
amazon['rating'] = amazon['rating'].replace({'AGES_16_':'16+' , 'AGES_18_':'18+' , 'NOT_RATE':'UNRATE' , '16':'16+'})

#pasamos a tiempo la columna date_added
amazon['date_added'] = amazon['date_added'].ffill()
amazon['date_added'] = pd.to_datetime(amazon['date_added'], format='%B %d, %Y')

amazon['cast']=amazon['cast'].fillna('Desconocido')
amazon['country']=amazon['country'].fillna('Desconocido')
amazon['rating']=amazon['rating'].fillna('Desconocido')
amazon['director']=amazon['director'].fillna('Desconocido')
print(amazon.isna().sum())

show_id             0
type                0
title               0
director            0
cast                0
country             0
date_added          0
release_year        0
rating              0
duration            0
listed_in           0
description         0
duration_min        0
duration_seasons    0
dtype: int64

NETFLIX

In [358]:

nexflix['show_id'] = nexflix['show_id'].str.replace('s', '', regex=False)
nexflix['show_id'] = nexflix['show_id'].astype('int')
nexflix['director'] = nexflix['director'].fillna('Desconocido')
nexflix['cast'] = nexflix['cast'].fillna('Desconocido' )


nexflix['duration_min'] = nexflix['duration'].apply(lambda x: int(str(x).split()[0]) if isinstance(x, str) and 'min' in x else 0)
nexflix['duration_seasons'] = nexflix['duration'].apply(lambda x: int(str(x).split()[0]) if isinstance(x, str) and 'Seasons' in x else 0)


nexflix['country'] = nexflix['country'].fillna('Desconocido' )
nexflix['date_added'] = nexflix['date_added'].str.strip()
nexflix['date_added'] = pd.to_datetime(nexflix['date_added'], format='%B %d, %Y')
nexflix= nexflix.dropna()
print(nexflix.isna().sum())
nexflix.describe()

show_id             0
type                0
title               0
director            0
cast                0
country             0
date_added          0
release_year        0
rating              0
duration            0
listed_in           0
description         0
duration_min        0
duration_seasons    0
dtype: int64

,show_id,date_added,release_year,duration_min,duration_seasons
count,8790.00,8790,8790.00,8790.00,8790.00
mean,4399.38,2019-05-17 21:44:01.638225408,2014.18,69.40,0.33
min,1.00,2008-01-01 00:00:00,1925.00,0.00,0.00
25%,2198.25,2018-04-06 00:00:00,2013.00,0.00,0.00
50%,4395.50,2019-07-03 00:00:00,2017.00,88.50,0.00
75%,6598.75,2020-08-19 18:00:00,2019.00,106.00,0.00
max,8807.00,2021-09-25 00:00:00,2021.00,312.00,17.00
std,2542.58,NaN,8.83,51.50,1.16

HULU

In [ ]:

hulu['show_id'] = hulu['show_id'].str.replace('s', '', regex=False)
hulu['show_id'] = hulu['show_id'].astype('int')

hulu.drop(['director','cast'], axis=1, inplace=True)

hulu['country'] = hulu['country'].fillna('Desconocido')

hulu['rating'] = hulu['rating'].fillna('Desconocido')


hulu['date_added'] = hulu['date_added'].ffill()
hulu['date_added'] = hulu['date_added'].str.strip()
hulu['date_added'] = pd.to_datetime(hulu['date_added'], format='%B %d, %Y')

#desonocidos los que tienen minutos o season  en rating
hulu['rating'] = hulu['rating'].apply(lambda x: 'Desconocido' if any(word in x for word in ['min', 'Season']) else x)



hulu['description'] = hulu['description'].fillna('Desconocido')
hulu['duration'] = hulu['duration'].str.replace(r'(min|Season|s)', '', regex=True)
hulu['duration'] = hulu['duration'].astype('float')
media_dur_hulu = hulu['duration'].mean()
hulu['duration'] = hulu['duration'].fillna(media_dur_hulu)
hulu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   int64
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   country       3073 non-null   object
 4   date_added    3073 non-null   datetime64[ns]
 5   release_year  3073 non-null   int64
 6   rating        3073 non-null   object
 7   duration      3073 non-null   float64
 8   listed_in     3073 non-null   object
 9   description   3073 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 240.2+ KB

DISNEY PLUS

In [360]:
disney.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [361]:

disney['show_id'] = disney['show_id'].str.replace('s', '', regex=False)
disney['show_id'] = disney['show_id'].astype(int)

disney['director']= disney['director'].fillna('Desconocido')
disney['rating']= disney['rating'].fillna('Desconocido')
disney['cast'] = disney['cast'].fillna('Desconocido')
disney['country'] = disney['country'].fillna('Desconocido')

disney['date_added'] = disney['date_added'].ffill()
disney['date_added'] = disney['date_added'].str.strip()
disney['date_added'] = pd.to_datetime(disney['date_added'], format='%B %d, %Y')

print(disney.isna().sum())

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64